    <table class="table table-hover">
        <tr>
            <td>
                {{ book.book_title }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {{ book.author2 }}
            </td>
            <td>
                {{ book.price }}
            </td>
            <td>
                {{ book.language }}
            </td>
            <td>
                {{ book.catergory }}
            </td>
        </tr>
    </table>